:root {
  --darkBlue: #00296b;
  --darkConflowerBlue: #003f88;
  --usafaBlue: #00509d;
  --goldePoppy: #fdc500;
  --goldWebGolden: #ffd500;
  --montserrat: 'Montserrat', sans-serif;;
  --lato: 'Lato', sans-serif;
}

body{
  font-family: var(--lato);
/* font-family: 'Montserrat', sans-serif; */
}

strong{
  font-family: var(--montserrat)
}

.bg-primary{
  background-color: var(--darkConflowerBlue) !important;
}